<h3 style="background-color: #e6e6e6;">
    Add Promo Code
</h3>
<div class="row" ng-controller="addPromoController" style="margin-top: 65px;">
    <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12">
 
        <div class="panel panel-default">
            <form>

                <div class="panel-body">
                    <h5 class="dateLbl">Start Date<span class="astrick">*</span></h5>

                    <div class="row form-group dtpicker">
                        <div class="col-md-12">
                            <!--<p class="input-group">-->
                                <!--<span class="input-group-btn">-->
                            <!--<button type="button" class="btn btn-default">-->
                                <!--<em class="fa fa-calendar"></em>-->
                            <!--</button>-->
                            <!--</span>-->
                            <input type="text" ng-model="add.startTime" id="start_date" readonly="" class="form-control disableFieldColor"/>
                            <!--</p>-->
                        </div>
                    </div>
                    <h5 class="dateLbl">End Date<span class="astrick">*</span></h5>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <!--<p class="input-group">-->
                            <!--<span class="input-group-btn">-->
                           <!--<button type="button"  class="btn btn-default">-->
                              <!--<em class="fa fa-calendar"></em>-->
                           <!--</button>-->
                          <!--</span>-->
                                <input type="text"  ng-model="add.endTime"  id="end_date" readonly="" class="form-control disableFieldColor"/>
                            <!--</p>-->
                        </div>
                    </div>
                </div>
            </form>

            <form method="post" ng-submit="addPromo(add)" validate-form="" novalidate="" id="add-promo">
                <!-- START panel-->
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" name="name" required="required"
                               class="form-control"
                               ng-model="add.name"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <input type="text" name="name" required="required"
                               class="form-control"
                               ng-model="add.description"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Discount Type</label>
                        <select ng-model="add.valueType">
                            <option value="">Select Discount Type</option>
                            <option value="PERCENT">PERCENT</option>
                            <option value="AMOUNT">AMOUNT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Discount</label>
                        <input name="duration" ng-init="add.maxDiscountAmt=0" required="required" numbers-only=""
                               data-parsley-type="number"
                               class="form-control"
                               ng-model="add.maxDiscountAmt"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Maximum User Limit</label>
                        <input name="discount" ng-init="add.frequency_per_user=1" required="required" numbers-only=""
                               data-parsley-type="number"
                               class="form-control"
                               ng-model="add.frequency_per_user"/>
                    </div>
                   <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
                   <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
                    <!--<div class="form-group">-->
                        <!--<label class="control-label">Discount(%)</label>-->
                        <!--<input name="discount" ng-init="add.discount='0'" required="required" numbers-only=""-->
                               <!--data-parsley-type="number"-->
                               <!--class="form-control"-->
                               <!--ng-model="add.discount"/>-->
                    <!--</div>-->
                    <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox" value="1" ng-model="add.checkbox">Applicable only on SignUp.-->
                    <!--</label>-->
                    <!--</div>-->
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-demo">Add Promo</button>
                </div>
                <!-- END panel-->
            </form>
        </div>
    </div>
</div>

<!-- **************************************************************************
******************* Modal to display msg for conflict **************************************
*******************************************************************************-->
<script type="text/ng-template" id="display_failure_conflict_msg">
    <div class="ngdialog-message">
        <h4>Promo Code Already exist.</h4>
        <button type="submit" ng-click="closeThisDialog(0)" class="btn btn-success"
                style="margin-top:20px;float:right;">OK
        </button>
        <div style="clear: both;"></div>
    </div>
</script>