<style>
    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .glyphicon-calendar:before {
        content: "\e109";
    }
</style>
<h3>
    <buttton class="btn btn-info" type="button" style="position: absolute;" ui-sref="app.listconsultant"><i class="fa fa-arrow-left" aria-hidden="true"></i></buttton>
    <div class="text-center"><u>View Consultant Details</u></div>
</h3>
<div class="row" ng-controller="viewConsultant">
    <div class="col-lg-12">
            <!-- START panel-->
            <div class="panel panel-default" ng-class="{'whirl duo' : showloader }">
                <div class="panel-body">
                    <div id="panelPortlet13" class="panel panel-theme">
                        <div class="panel-heading">Consultant Details</div>
                    </div>

                    <div class="col-lg-6">

                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                <label class="control-label">consultant Name<span class="astrick">*</span></label>
                            </div>

                             <div ng-show="displaymsg" class="alert alert-success text-center">{{displaymsg}}</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                <md-input-container class="md-icon-float md-block">
                                    <label>consultant Name</label>
                                    <md-icon class="name fa fa-user fa-2x" style="color:coral"></md-icon>
                                    <input  class="offmode" type="text" name="consultantName" ng-model="approveconsultant.user_name"  onkeydown="return alphaOnly(event)"
                                            required="required" ng-class="{ 'has-error': userForm.consultantName.$touched && userForm.consultantName.$invalid }">
                                    <div ng-if="userForm.consultantName.$touched||submit" ng-messages="userForm.consultantName.$error" disabled>
                                        <p class="errormessage text-danger" ng-message="required">Please enter the consultant Name
                                        </p>
                                    </div>
                                </md-input-container>
                            </div>

                        </div>
                        <div class="form-group ">
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                <label class="control-label">consultant Email-id<span class="astrick">*</span></label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                <md-input-container class="md-icon-float md-block">
                                    <label>consultant Email-id</label>
                                    <md-icon class="name fa fa-envelope fa-2x" style="color:coral"></md-icon>
                                    <input  class="offmode" type="email" required="required" name="consultantEmail"  ng-model="approveconsultant.user_email" style="color:#333333" disabled
                                            ng-class="{ 'has-error': userForm.consultantEmail.$touched && userForm.consultantEmail.$invalid }">
                                    <div ng-if="userForm.consultantEmail.$touched||submit" ng-messages="userForm.consultantEmail.$error" disabled>
                                        <p class="errormessage text-danger" ng-message="required">Please enter the Consultant Email-id
                                        </p>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                <label class="control-label">Mobile Number<span class="astrick">*</span></label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                <md-input-container class="md-icon-float md-block">
                                    <label>Mobile Number </label>
                                    <input  class="offmode"  type="text"  name="consultantNumber" ng-model="approveconsultant.phn_no" required="required" style="color:#333333" onkeypress="javascript:return check_number(event)" disabled
                                             ng-class="{ 'has-error': userForm.consultantNumber.$touched && userForm.consultantNumber.$invalid }">
                                    <div ng-if="userForm.consultantNumber.$touched||submit" ng-messages="userForm.consultantNumber.$error" disabled>
                                        <p class="errormessage text-danger" ng-message="required">Please enter the Mobile Number
                                        </p>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                <label class="control-label">Aligned User<span class="astrick">*</span></label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                    <md-input-container class="md-icon-float md-block">
                                         <label>Aligned User </label>
                                         <select  name="user"  required="required"  ng-model="approveconsultant.user" style="color:#333333" ng-options="user  for user  in user " >
                                         </select>
                                         
                                    </md-input-container>
                                                                </div> 
                        </div>-->
                            <table class="table">
                                <thead>
                                    <tr>
                                   
                                    <th>Name</th>
                                    <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in user" >
                                    <td ng-table="user  for user  in user ">{{x}}</td>
                                    <td><button class="btn btn-primary" ng-click="removeuser(x)" type="button">Remove</button></td>

                                    </tr>
                                </tbody>
                            </table>
                    </div>
                    <!-- end of left div -->

                    <div class="col-lg-6">
                        <div class="form-group" style="text-align: center">
                            <label class="control-label">consultant Image<span class="astrick">*</span></label>
                            <br>
                            <img  ng-src="{{consultant_image}} " id="consultant_image" style="width:300px;height:300px" ng-click="openIframe(consultant_image,1)">
                        </div>
                    </div>
                    <!-- end of right div -->
                </div>
                <div class="panel-body">
                    <div  class="panel panel-theme">
                        <div class="panel-heading">Other Details</div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                            <div class="form-group">

                            </div>
                  
                        </div>

                    </div>

                </div>

            </div>

    </div>

    <!-- ***************************************************************************
        ******************* Modal zoomed images**************************************
        ***************************************************************************-->
    <script type="text/ng-template" id="pdf_large_dialog">
        <div class="ngdialog-message">
            <div class="panel-start">
                <button type="button" class="pull-right" style="margin-top: 11px;margin-right: 12px;" ng-click="closeThisDialog(0)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <div ng-if="showServiceImage==true" class="panel-heading" style="font-size: large;color:#656565;text-align: center">
                    <span style="padding-top:10px;color:#ffffff"><b>{{Title}}</b></span>
                </div>
                <div ng-if="showInsuarnceImage1==true" class="panel-heading" style="font-size: large;color:#656565;text-align: center">
                    <span style="padding-top:10px;color:#ffffff"><b>{{Title}}</b></span>
                </div>
            </div>

            <div class="panel panel-default" ng-class="{'whirl duo' : pdfLoader} ">
                <div ng-if="showServiceImage==true">
                    <div style="margin:14px">
                        <span><a target="_self" href="{{image_large}}" download="{{image_large}}"><img src="app/img/group-13@2x.png" style="width: 20px;height: 20px;margin-bottom: 1px"></a></span>
                        <span class="orangeHover" style="margin-left:10px"><b>Download</b></span>
                    </div>
                    <div style="margin:14px">
                        <img src="{{image_large}}" frameborder="0" style="width:100%;height:100%">
                    </div>
                </div>
                <div ng-if="showInsuarnceImage1==true">
                    <div style="margin:14px">
                        <span><a target="_self" href="{{insurance_large}}" download="{{insurance_large}}"><img src="app/img/group-13@2x.png" style="width: 20px;height: 20px;margin-bottom: 1px"></a></span>
                        <span class="orangeHover" style="margin-left:10px"><b>Download</b></span>
                    </div>
                    <div style="margin:14px">
                        <img src="{{insurance_large}}" frameborder="0" style="width:100%;height:100%">
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->

    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="refreshPage()" class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>
    <!--<script>
        $('#license_expiry').datepicker({
            format : 'mm/yy',
            viewMode: "years",
            minViewMode: "months",
            autoclose: true,
            startDate:new Date()
        });
        $('#license_expiry').change(function(){
            $(this).removeClass("parsley-error");
            var a = $(this).addClass("parsley-success");
            a.siblings("ul").removeClass("filled");
        });
    </script>-->
    <script>
        function alphaOnly(event) {
            var key = event.keyCode;
            return ((key >= 65 && key <= 90) || key == 8 || key == 9 ||key ==32);
        }
    </script>


    <script type="text/javascript">
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        //        specialKeys.push(9); //Tab
        specialKeys.push(46); //Delete
        specialKeys.push(36); //Home
        specialKeys.push(35); //End
        specialKeys.push(37); //Left
        specialKeys.push(39); //Right
        function IsAlphaNumeric(e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            var ret = ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (specialKeys.indexOf(e.keyCode) != -1 && e.charCode != e.keyCode));

            return ret;
        }
    </script>
    <script>
        function isNumber(evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                return false;
            return true;
        }
    </script>
    <script>
        function check_number(event) {
            if(!(event.charCode>47 && event.charCode<58) && event.charCode && !(event.metaKey || event.ctrlKey))
                event.preventDefault();
        }
    </script>
</div>